## ----------------------------------------------------------------------------------------
# cache/options directory
.idea/
.nupkgs/
.vscode/

solution-bak/
## ----------------------------------------------------------------------------------------
